<!doctype html>
<html lang="en">
<div th:replace="parts/head.html :: head"></div>
<body>

<header th:replace="parts/header.html :: header">

</header>
<div class="container">

    <h1 th:text="${title}"></h1>

    <a th:href="@{/form}">Create new Cliet</a>
    <table class="table table-striped">
        <thead>
        <th>Cid</th>
        <th>Name</th>
        <th>Second Name</th>
        <th>Email</th>
        <th>Created at</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
            <td th:text="${client.cid}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.secondName}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.createdAt}"></td>
            <td>
                <div class="btn-group" role="group">
                    <span class="badge bg-warning m-1">
                        <a th:href="@{/form/} + ${client.cid}" class="text-white text-decoration-none">Edit</a>
                    </span>
                    <span class="badge bg-danger m-1">
                        <a th:href="@{/remove/} + ${client.cid}" class="text-white text-decoration-none" onclick="return confirm('¿Seguro?');">Delete</a>
                    </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="parts/footer.html :: footer"></div>
</body>
</html>